.contenedor-horarios {
  background-color: rgb(68, 82, 145);
  background-image: url("https://images.pexels.com/photos/669584/pexels-photo-669584.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
}
.contenedor-foto {
  position: relative;
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.texto {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 40px;
  font-weight: 130px;
  color: rgb(56, 37, 90);
  font-family: 'Verdana,Segoe UI, Tahoma,  sans-serif';
}

.foto {
  height: auto;
  width: auto;
  max-height: 60%;
  max-width: 60%;
}
