.logo {
  margin-top: 0.2%;
  margin-left: 1%;
  border-radius: 18%;
  width: 8%;
  background-color: black;
}

.navbar {
  background-color: black;
  height: 190% !important;
}

#scroll,#scroll1,#scroll2 {
  border-radius: 5%;
  color: rgb(255, 255, 255);
  height: 10%;
  width: 20%;
  margin: 5%;
}
.botones{
  height: 10%;
  width: 20%;
}
