.prueba{
    color: white;
    margin-left: 100px;
    margin-top: -40px;
  }
  .logo{
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 15px;
    width: 80px;
    background-color: black;
  }
  
.navbar{
  background-color: black;
  height: 80px;
}

