.logo {
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 15px;
  width: 120px;
  background-color: black;
}

.navbar {
  background-color: black;
  height: 80px;
}

.scroll {
  border-radius: 10px;
  color: rgb(206, 189, 159);
  
}
