#carouselExampleControls {
  width: 70%;
  overflow: hidden;
}
.container-carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: white;
  position: relative;
  width: 100%;
  padding: 2%;
}
.carousel-item {
  position: relative;
  align-items: center;
height: 70vh;
}
